<!DOCTYPE HTML>
<html>
<head>
    <title>듀얼헬스케어:기업관리</title>

    <% include menu-head %>

</head>

<body>

<!--상단 네비바-->
<header>
    <% include top-menu %>

</header>
<!--상단 네비바-->

<!--콘텐츠 내용-->
<div class="container" style="padding-top: 50px; max-width: none">
    <div class="row">
        <div class="col">
            <form style="margin: 0 auto; width: 95%; max-width: 1150px; padding: 20px">
                <ul class="img-circle">
                    <div class="menu-title" style="font-size: 22px">
                        <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                        기업관리
                    </div>
                    <hr>
                    <div class="form-row row">
                        <label class="col-form-label">
                            <li>사업연도</li>
                        </label>
                        <div class="form-group col">
                            <select id="year" class="form-control">
                                <option selected>-전체-</option>
                            </select>
                        </div>
                        <label class="col-form-label" style="margin-left: 20px">
                            <li>서비스</li>
                        </label>
                        <div class="form-group col">
                            <select id="service" class="form-control">
                                <option selected>-전체-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row row">
                        <label class="col-form-label">
                            <li>진행상태</li>
                        </label>
                        <div class="form-group col">
                            <select id="status" class="form-control">
                                <option selected>-전체-</option>
                            </select>
                        </div>
                        <label class="col-form-label" style="margin-left: 20px">
                            <li>계약유무</li>
                        </label>
                        <div class="form-group col">
                            <select id="contract" class="form-control">
                                <option selected>-전체-</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div style="float: right">
                        <div class="btn-purple-square" data-toggle="modal" data-target="#companyCreateModal">
                            기업신규등록
                        </div>
                        <div class="btn-save-square"  onclick="searchInformation()">
                            검색
                        </div>
                    </div>
                </ul>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top:100px">
        <div class="col">
            <div class="d-flex justify-content-center px-5">
                <h6>
                    <div style="margin-right: 15px">통합검색</div>
                    <div class="search">
                        <input type="text" id="searchWord" class="search-input" placeholder="회사명으로 검색하세요">
                        <div class="search-icon" onclick="searchInformation()"></div>
                    </div>
                </h6>
            </div>
        </div>
    </div>

    <div class="row " style="margin-left: 30px; margin-right: 30px; margin-top: 20px">
        <form class="table-responsive" style="margin: 0 auto">
            <div
                    class="btn-default-small excel" style="float: right"></div>
            <table id="companyInfo" class="table table-hover" style="margin-top: 45px">
                <thead>
                <tr>
                    <th style="width: 5%">NO</th>
                    <th style="width: 13%">고객사명</th>
                    <th>사업장</th>
                    <th style="width: 13%">서비스</th>
                    <th>계약유무</th>
                    <th>직원 수</th>
                    <th>진행현황</th>
                    <th style="width: 15%">예약기간</th>
                    <th style="width: 15%">검진기간</th>
                    <th>사업자등록</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </form>

    </div>

</div>
<!--콘텐츠 내용-->


<!-- 기업 상세 정보 Modal -->
<div class="modal fade" id="companyDetailModal" tabindex="-1" aria-labelledby="companyDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="max-width: fit-content; width: 1200px; display: table;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container company" style="margin-top: 30px">
                    <div class="row">
                        <div class="col">
                            <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                기업정보
                            </div>
                            <table class="table" id="info1">
                                <tbody>
                                <tr>
                                    <th>기업명</th>
                                    <td id="com-companyName" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>사업장명</th>
                                    <td id="com-companyBranch" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>시스템오픈</th>
                                    <td id="com-systemOpen" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>서비스</th>
                                    <td id="com-serviceName"></td>
                                </tr>
                                <tr>
                                    <th>계약유무</th>
                                    <td id="com-contract" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>예약기간</th>
                                    <td>
                                        <span id="com-reservationStartDate" contentEditable="true"></span>
                                        ~
                                        <span id="com-reservationEndDate" contentEditable="true"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>검진기간</th>
                                    <td>
                                        <span id="com-inspectionStartDate" contentEditable="true"></span>
                                        ~
                                        <span id="com-inspectionEndDate" contentEditable="true"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>서비스이용료</th>
                                    <td id="com-rebatePrice" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>패키지</th>
                                    <td id="com-packagePriceList"></td>
                                </tr>
                                <tr>
                                    <th>지원금</th>
                                    <td id="com-supportPriceList"></td>
                                </tr>
                                <tr>
                                    <th>공단차감</th>
                                    <td id="com-pcDiscount" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>가족지원</th>
                                    <td id="com-familySupport" contentEditable="true"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table" id="info2">
                                <tbody>
                                <tr style="height: 200px">
                                    <th>관리자메모</th>
                                    <td id="com-memo" contentEditable="true"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <div style="margin-bottom: 50px">
                                <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                    <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                    담당자추가
                                    <div class="btn-save-square" style="padding: 2px 6px; font-size: 13px; margin-left: 10px"
                                        onclick="setCompanyManagerData()">저장</div>
                                </div>
                                <table class="table" id="info3">
                                    <tbody>
                                    <tr>
                                        <th>이메일</th>
                                        <td id="com-email" contentEditable="true"></td>
                                    </tr>
                                    <tr>
                                        <th>비밀번호</th>
                                        <td id="com-password" contentEditable="true"></td>
                                    </tr>
                                    <tr>
                                        <th>이름</th>
                                        <td id="com-name" contentEditable="true"></td>
                                    </tr>
                                    <tr>
                                        <th>연락처</th>
                                        <td id="com-phone" contentEditable="true"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div style="margin-bottom: 50px;">
                                <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                    <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                    청구정보
                                </div>
                                <table class="table" id="info4">
                                    <tbody>
                                    <tr>
                                        <th>청구방식</th>
                                        <td id="com-paymentCode" contentEditable="true"></td>
                                    </tr>
                                    <tr>
                                        <th>지원금방식</th>
                                        <td id="com-supportFundCode" contentEditable="true"></td>
                                    </tr>
                                    <tr>
                                        <th>추가금액<br>정산방식</th>
                                        <td id="com-balanceCode" contentEditable="true"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                가족미지원
                            </div>
                                <table class="table" id="info5">
                                <tbody>
                                <tr>
                                    <th>패키지</th>
                                    <td id="com-fpackagePriceList"></td>
                                </tr>
                                <tr>
                                    <th>지원금</th>
                                    <td id="com-fsupportPriceList"></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="col">
                            <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                담당자정보
                            </div>
                            <div style="height: 890px; overflow-y: scroll">
                                <table class="table" id="info6">
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="btn-save-square" style="float: right;" onclick="saveInformation()">저장</div>
            </div>
        </div>
    </div>
</div>

<!-- 기업 신규 생성 Modal -->
<div class="modal fade" id="companyCreateModal" tabindex="-1" aria-labelledby="companyCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="max-width: fit-content; width: 800px; display: table;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container company" style="margin-top: 30px">
                    <div class="row">
                        <div class="col">
                            <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                기업정보
                            </div>
                            <table class="table" id="info1">
                                <tbody>
                                <tr>
                                    <th>기업명</th>
                                    <td id="add-com-name" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>사업장</th>
                                    <td id="add-com-branch" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>시스템오픈</th>
                                    <td id="add-com-systemOpen" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>계약유무</th>
                                    <td id="add-com-contract" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>예약기간</th>
                                    <td>
                                        <span id="add-com-reservationStartDate" contentEditable="true"></span>
                                        ~
                                        <span id="add-com-reservationEndDate" contentEditable="true"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>검진기간</th>
                                    <td>
                                        <span id="add-com-inspectionStartDate" contentEditable="true"></span>
                                        ~
                                        <span id="add-com-inspectionEndDate" contentEditable="true"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td id="add-com-address" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td id="add-com-email" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>서비스이용료</th>
                                    <td id="add-com-rebatePrice" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>공단차감</th>
                                    <td id="add-com-pcDiscount" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>가족지원</th>
                                    <td id="add-com-familySupport" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>사업자등록</th>
                                    <td id="add-com-license" contentEditable="true"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table" id="info2">
                                <tbody>
                                <tr style="height: 200px">
                                    <th>관리자메모</th>
                                    <td id="add-com-memo" contentEditable="true"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <div style="margin-bottom: 50px;">
                                <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                    <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                    청구정보
                                </div>
                                <table class="table" id="info4">
                                    <tbody>
                                    <tr>
                                        <th>청구방식</th>
                                        <td id="add-com-paymentCode" contentEditable="true"></td>
                                    </tr>
                                    <tr>
                                        <th>지원금방식</th>
                                        <td id="add-com-supportFundCode" contentEditable="true"></td>
                                    </tr>
                                    <tr>
                                        <th>추가금액<br>정산방식</th>
                                        <td id="add-com-balanceCode" contentEditable="true"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-save-square" style="float: right;" onclick="createCompanyData()">저장</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script type="text/javascript">

    //검색항목리스트
    instance.post('M004001_RES').then(res => {
        setCompanySelectData(res.data);
    });

    //검색
    function searchInformation() {
        var searchItems = new Object();

        $('#companyInfo > tbody').empty();

        searchItems.year = $("#year option:selected").val();
        searchItems.service = $("#service option:selected").val();
        searchItems.status = $("#status option:selected").val();
        searchItems.contract = $("#contract option:selected").val();

        searchItems.searchWord =  $("#searchWord").val();

        if (searchItems.year == "-전체-") {
            searchItems.year = "all";
        }
        if (searchItems.service == "-전체-") {
            searchItems.service = "all";
        }
        if (searchItems.status == "-전체-") {
            searchItems.status = "all";
        }
        if (searchItems.contract == "-전체-") {
            searchItems.contract = "all";
        }

        console.log(searchItems);

        instance.post('M004002_REQ_RES', searchItems).then(res => {
            setCompanyData(res.data);
        });
    }

    //검색 selector
    function setCompanySelectData(data) {
        console.log(data);
        //사업연도
        for (i = 0; i < data.year.length; i++) {
            var html = '';
            html += '<option>' + data.year[i] + '</option>'
            $("#year").append(html);
        }
        //서비스
        for (i = 0; i < data.service.length; i++) {
            var html = '';
            html += '<option>' + data.service[i] + '</option>'
            $("#service").append(html);
        }
        //진행상태
        for (i = 0; i < data.status.length; i++) {
            var html = '';
            html += '<option>' + data.status[i] + '</option>'
            $("#status").append(html);
        }
        //계약유무
        for (i = 0; i < data.contract.length; i++) {
            var html = '';
            html += '<option>' + data.contract[i] + '</option>'
            $("#contract").append(html);
        }
    }

    //기업관리 테이블
    function setCompanyData(data) {
        console.log(data);
        for (i = 0; i < data.length; i++) {
            var html = '';
            html += '<tr>"';
            html += '<td>' + data[i].id + '</td>';
            html += '<td data-toggle="modal" data-target="#companyDetailModal" onClick="clickDetail(\'' + data[i].id + '\')">' + data[i].name + '</td>';
            html += '<td>' + data[i].branch + '</td>';
            html += '<td>' + data[i].services + '</td>';

            if (data[i].contract) {
                html += '<td>Y</td>';
            } else {
                html += '<td>N</td>';
            }

            html += '<td>' + data[i].customers + '</td>';

            if (data[i].status) {
                html += '<td>Y</td>';
            } else {
                html += '<td>N</td>';
            }

            html += '<td>' + data[i].reservationStartDate + " ~ " + data[i].reservationEndDate + '</td>';
            html += '<td>' + data[i].inspectionStartDate + " ~ " + data[i].inspectionEndDate + '</td>';

            if (data[i].license) {
                html += '<td>Y</td>';
            } else {
                html += '<td>N</td>';
            }

            html += '</tr>';

            $("#companyInfo").append(html);
        }
    }

    //기업 정보 상세
    var cmnId = Object();

    function clickDetail(data) {
        cmnId.companyId = data;
        instance.post('M004003_REQ_RES', cmnId).then(res => {
            setDetailCompanyData(res.data);
        });
    }

    //클릭시 기업정보
    function setDetailCompanyData(data) {
        console.log(data);

        //info1 기업정보
        document.getElementById('com-companyName').innerHTML = data.companyName;
        document.getElementById('com-companyBranch').innerHTML = data.companyBranch;
        document.getElementById('com-systemOpen').innerHTML = data.systemOpen;

        var reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi;
        var service = "";
        service = data.serviceName.replace(reg, "");

        document.getElementById('com-serviceName').innerHTML = service;

        document.getElementById('com-contract').innerHTML = data.contract;
        document.getElementById('com-reservationStartDate').innerHTML = data.reservationStartDate;
        document.getElementById('com-reservationEndDate').innerHTML = data.reservationEndDate;
        document.getElementById('com-inspectionStartDate').innerHTML = data.inspectionStartDate;
        document.getElementById('com-inspectionEndDate').innerHTML = data.inspectionEndDate;
        document.getElementById('com-rebatePrice').innerHTML = data.rebatePrice;
        document.getElementById('com-packagePriceList').innerHTML = data.packagePriceList;
        document.getElementById('com-supportPriceList').innerHTML = data.supportPriceList;
        document.getElementById('com-pcDiscount').innerHTML = data.pcDiscount;
        document.getElementById('com-familySupport').innerHTML = data.familySupport;

        //info2 관리자메모
        document.getElementById('com-memo').innerHTML = data.memo;

        //info3 담당자추가

        //info4 청구정보
        document.getElementById('com-paymentCode').innerHTML = data.paymentCode;
        document.getElementById('com-supportFundCode').innerHTML = data.supportFundCode;
        document.getElementById('com-balanceCode').innerHTML = data.balanceCode;

        //info5 가족미지원
        document.getElementById('com-fpackagePriceList').innerHTML = data.fpackagePriceList;
        document.getElementById('com-fsupportPriceList').innerHTML = data.fsupportPriceList;

        //info6 담장자정보
        $("#info6").empty();
        for (i = 0; i < data.companyManagerDTOList.length; i++) {
            var html = '';
            html += '<tr style="border-top: 2px solid #424242">';
            html += '<th>이름</th>';
            html += '<td>' + data.companyManagerDTOList[i].name + '</td>';
            html += '</tr>';
            html += '<tr>';
            html += '<th>연락처</th>';
            html += '<td>' + data.companyManagerDTOList[i].phone + '</td>';
            html += '</tr>';
            html += '<tr>';
            html += '<th>이메일</th>';
            html += '<td>' + data.companyManagerDTOList[i].email + '</td>';
            html += '</tr>';

            $("#info6").append(html);
        }
    }

    //담당자 추가
    function setCompanyManagerData() {
        var saveItems = new Object();

        saveItems.companyId = cmnId.companyId;
        saveItems.email = document.getElementById('com-email').innerText;
        saveItems.password = document.getElementById('com-password').innerText;
        saveItems.name = document.getElementById('com-name').innerText;
        saveItems.phone = document.getElementById('com-phone').innerText;

        console.log(saveItems);

        if (confirm("저장하시겠습니까?") == true){
            instance.post('M004004_REQ', saveItems).then(res => {
                console.log(res.data.message);
                if(res.data.message == "success") {
                    alert("저장되었습니다.");
                    clickDetail(saveItems.companyId);
                    document.getElementById('com-email').innerHTML = "";
                    document.getElementById('com-password').innerHTML = "";
                    document.getElementById('com-name').innerHTML = "";
                    document.getElementById('com-phone').innerHTML = "";
                }
            });
        }else{
            return false;
        }
    }

    //기업 신규 등록
    function createCompanyData() {
        var saveItems = new Object();

        saveItems.name = document.getElementById('add-com-name').innerText;
        saveItems.branch = document.getElementById('add-com-branch').innerText;
        saveItems.systemOpen = document.getElementById('add-com-systemOpen').innerText;
        saveItems.contract = document.getElementById('add-com-contract').innerText;
        saveItems.address = document.getElementById('add-com-address').innerText;
        saveItems.email = document.getElementById('add-com-email').innerText;
        saveItems.rebatePrice = document.getElementById('add-com-rebatePrice').innerText;
        saveItems.pcDiscount = document.getElementById('add-com-pcDiscount').innerText;
        saveItems.paymentCode = document.getElementById('add-com-paymentCode').innerText;
        saveItems.supportFundCode = document.getElementById('add-com-supportFundCode').innerText;
        saveItems.balanceCode = document.getElementById('add-com-balanceCode').innerText;
        saveItems.familySupport = document.getElementById('add-com-familySupport').innerText;
        saveItems.license = document.getElementById('add-com-license').innerText;
        saveItems.memo = document.getElementById('add-com-memo').innerText;
        saveItems.reservationStartDate = document.getElementById('add-com-reservationStartDate').innerText;
        saveItems.reservationEndDate = document.getElementById('add-com-reservationEndDate').innerText;
        saveItems.inspectionStartDate = document.getElementById('add-com-inspectionStartDate').innerText;
        saveItems.inspectionEndDate = document.getElementById('add-com-inspectionEndDate').innerText;


        console.log(saveItems);

        if (confirm("저장하시겠습니까?") == true){
            instance.post('M004006_REQ', saveItems).then(res => {
                console.log(res.data.message);
                alert("저장되었습니다.");
            });
        }else{
            return false;
        }
    }

    //수정된 정보로 저장
    function saveInformation() {
        var saveItems = new Object();

        saveItems.companyId = cmnId.companyId;
        saveItems.companyName = document.getElementById('com-companyName').innerText;
        saveItems.companyBranch = document.getElementById('com-companyBranch').innerText;
        saveItems.systemOpen = document.getElementById('com-systemOpen').innerText;
        saveItems.contract = document.getElementById('com-contract').innerText;
        saveItems.reservationStartDate = document.getElementById('com-reservationStartDate').innerText;
        saveItems.reservationEndDate = document.getElementById('com-reservationEndDate').innerText;
        saveItems.inspectionStartDate = document.getElementById('com-inspectionStartDate').innerText;
        saveItems.inspectionEndDate = document.getElementById('com-inspectionEndDate').innerText;
        saveItems.rebatePrice = document.getElementById('com-rebatePrice').innerText;
        saveItems.pcDiscount = document.getElementById('com-pcDiscount').innerText;
        saveItems.familySupport = document.getElementById('com-familySupport').innerText;
        saveItems.memo = document.getElementById('com-memo').innerText;
        saveItems.paymentCode = document.getElementById('com-paymentCode').innerText;
        saveItems.supportFundCode = document.getElementById('com-supportFundCode').innerText;
        saveItems.balanceCode = document.getElementById('com-balanceCode').innerText;

        console.log(saveItems);

        if (confirm("저장하시겠습니까?") == true){
            instance.post('M004005_REQ', saveItems).then(res => {
                console.log(res.data.message);
                alert("저장되었습니다.");
                clickDetail(saveItems.companyId);
            });
        }else{
            return false;
        }
    }
</script>
