<!DOCTYPE HTML>
<html>
<head>
    <title>듀얼헬스케어:병원관리</title>

    <% include menu-head %>

</head>

<body>

<!--상단 네비바-->
<header>
    <% include top-menu %>
</header>
<!--상단 네비바-->

<!--콘텐츠 내용-->
<div class="container" style="padding-top: 50px; max-width: none">
    <div class="row">
        <div class="col">
            <form style="margin: 0 auto; width: 95%; max-width: 1150px; padding: 20px">
                <ul class="img-circle">
                    <div class="menu-title" style="font-size: 22px">
                        <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                        병원관리
                    </div>
                    <hr>
                    <div class="form-row row">
                        <label class="col-form-label">
                            <li>사업연도</li>
                        </label>
                        <div class="form-group col">
                            <select id="year" class="form-control">
                                <option selected>-전체-</option>
                            </select>
                        </div>
                        <label class="col-form-label" style="margin-left: 20px">
                            <li>서비스</li>
                        </label>
                        <div class="form-group col">
                            <select id="service" class="form-control">
                                <option selected>-전체-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row row">
                        <label class="col-form-label">
                            <li>지역</li>
                        </label>
                        <div class="form-group col">
                            <select id="place" class="form-control">
                                <option selected>-전체-</option>
                            </select>
                        </div>
                        <label class="col-form-label" style="margin-left: 20px">
                            <li>계약유무</li>
                        </label>
                        <div class="form-group col">
                            <select id="contract" class="form-control">
                                <option selected>-전체-</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div style="float: right">
                        <div class="btn-purple-square" data-toggle="modal" data-target="#hospitalCreateModal">
                            병원신규등록
                        </div>
                        <div class="btn-save-square"  onclick="searchInformation()">
                            검색
                        </div>
                    </div>
                </ul>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top:100px">
        <div class="col">
            <div class="d-flex justify-content-center px-5">
                <h6>
                    <div style="margin-right: 15px">통합검색</div>
                    <div class="search">
                        <input type="text" id="searchWord" class="search-input" placeholder="병원명으로 검색하세요">
                        <div class="search-icon" onclick="searchInformation()"></div>
                    </div>
                </h6>
            </div>
        </div>
    </div>

    <div class="row " style="margin-left: 30px; margin-right: 30px; margin-top: 20px">
        <form class="table-responsive" style="margin: 0 auto">
            <div
                    class="btn-default-small excel" style="float: right"></div>
            <table id="hospitalInfo" class="table table-hover" style="margin-top: 45px">
                <thead>
                <tr>
                    <th>NO</th>
                    <th>병원명</th>
                    <th>지역</th>
                    <th>서비스</th>
                    <th>계약유무</th>
                    <th>사업자등록</th>
                    <th>통장사본</th>
                    <th>장비현황</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </form>

    </div>

</div>
<!--콘텐츠 내용-->


<!-- 병원 상세 정보 Modal -->
<div class="modal fade" id="hospitalDetailModal" tabindex="-1" aria-labelledby="hospitalDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="max-width: fit-content; width: 1000px; display: table;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container hospital" style="margin-top: 30px">
                    <div class="row">
                        <div class="col">
                            <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                병원정보
                            </div>
                            <table class="table" id="info1">
                                <tbody>
                                <tr>
                                    <th>병원명</th>
                                    <td id="hos-name" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>지역</th>
                                    <td id="hos-place"></td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td id="hos-address" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>대표번호</th>
                                    <td id="hos-phone" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>사업자번호</th>
                                    <td id="hos-licenseNum" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>공단차감</th>
                                    <td id="hos-pcDiscount" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>공단금액</th>
                                    <td id="hos-pcPrice" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>시스템오픈</th>
                                    <td id="hos-systemOpen" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>가능서비스</th>
                                    <td id="hos-services"></td>
                                </tr>
                                <tr>
                                    <th>계약유무</th>
                                    <td id="hos-contract" contentEditable="true"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <div style="margin-bottom: 40px;">
                                <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                    <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                    첨부서식
                                    <div class="btn-light-purple-square"
                                         style="padding: 2px 6px; font-size: 12px; margin-left: 10px; border-radius: 20px"
                                         onclick="">upload</div>
                                </div>
                                <div class="table" id="info2">
                                    <ul class="img-circle">
                                        <li><a href="#">사업자등록증</a></li>
                                        <li><a href="#">통장사본</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                담당자추가
                                <div class="btn-save-square" style="padding: 2px 6px; font-size: 13px; margin-left: 10px"
                                     onclick="setHospitalManagerData()">저장</div>
                            </div>
                            <table class="table" id="info3">
                                <tbody>
                                <tr>
                                    <th>부서</th>
                                    <td id="add-hos-res-department" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td id="add-hos-res-email" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>비밀번호</th>
                                    <td id="add-hos-res-password" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td id="add-hos-res-name" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>직통번호</th>
                                    <td id="add-hos-res-phone" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>개인연락처</th>
                                    <td id="add-hos-res-directPhone" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>직함</th>
                                    <td id="add-hos-res-position" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>SMS수신여부</th>
                                    <td id="add-hos-res-receiveSMS" contentEditable="true"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" aria-colspan="2">
                            <div class="menu-title" style="font-size: 22px; margin-bottom: 20px; margin-top: 20px">
                                <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                담당자정보
                            </div>

                            <div style="height: 250px; overflow-y: scroll">
                                <table id="info4" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width: 15%">담당자 정보</th>
                                        <th style="width: 8%">이름</th>
                                        <th style="width: 8%">직함</th>
                                        <th style="width: 15%">직통번호</th>
                                        <th style="width: 15%">연락처</th>
                                        <th style="width: 25%">이메일</th>
                                        <th>SMS수신여부</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-save-square" style="float: right;" onclick="saveInformation()">저장</div>
            </div>
        </div>
    </div>
</div>

<!-- 장비현황 Modal -->
<div class="modal fade" id="hospitalEquipmentModal" tabindex="-1" aria-labelledby="hospitalEquipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="max-width: fit-content; width: 1300px; display: table;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="hospitalEquipmentInfo" class="table table-hover table-bordered">
                    <thead>
                    <tr style="width: 100%">
                        <th style="width: 20%">의료장비명</th>
                        <th style="width: 20%">모델명</th>
                        <th style="width: 20%">용도</th>
                        <th style="width: 5%">수량</th>
                        <th style="width: 10%">도입년도</th>
                        <th style="width: 15%">비고</th>
                        <th style="width: 10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" placeholder="" id="eq-name"></td>
                            <td><input type="text" placeholder="" id="eq-modelCode"></td>
                            <td><input type="text" placeholder="" id="eq-uses"></td>
                            <td><input size="1" type="text" placeholder="" id="eq-count"></td>
                            <td><input size="3" type="text" placeholder="" id="eq-introductionYear"></td>
                            <td><input type="text" placeholder="" id="eq-memo"></td>
                            <td><div class="btn-save-square" style="padding: 0 6px; font-size: 13px; margin-left: 10px"
                                     onclick="addHospitalEquipment()">추가</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn-save-square" style="float: right;" onclick="saveEquipmentInformation()">저장</div>
            </div>
        </div>
    </div>
</div>

<!-- 병원 신규 생성 Modal -->
<div class="modal fade" id="hospitalCreateModal" tabindex="-1" aria-labelledby="hospitalCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="max-width: fit-content; width: 800px; display: table;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container hospital" style="margin-top: 30px">
                    <div class="row">
                        <div class="col">
                            <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                병원정보
                            </div>
                            <table class="table" id="info1">
                                <tbody>
                                <tr>
                                    <th>병원명</th>
                                    <td id="add-hos-name" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td id="add-hos-address" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>대표번호</th>
                                    <td id="add-hos-phone" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>사업자번호</th>
                                    <td id="add-hos-licenseNum" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>공단차감</th>
                                    <td id="add-hos-pcDiscount" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>공단금액</th>
                                    <td id="add-hos-pcPrice" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>시스템오픈</th>
                                    <td id="add-hos-systemOpen" contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th>계약유무</th>
                                    <td id="add-hos-contract" contentEditable="true"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <div style="margin-bottom: 40px;">
                                <div class="menu-title" style="font-size: 22px; margin-bottom: 20px">
                                    <img src="images/bg_h2_tit.png" style="margin-right: 10px;">
                                    첨부서식
                                    <div class="btn-light-purple-square"
                                         style="padding: 2px 6px; font-size: 12px; margin-left: 10px; border-radius: 20px"
                                         onclick="">upload</div>
                                </div>
                                <div class="table" id="info2">
                                    <ul class="img-circle">
                                        <li><a id="add-hos-license" href="#">사업자등록증</a></li>
                                        <li><a id="add-hos-bankbook" href="#">통장사본</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-save-square" style="float: right;" onclick="createHospitalData()">저장</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script type="text/javascript">

    //검색항목리스트
    instance.post('M005001_RES').then(res => {
        setHospitalSelectData(res.data);
    });

    //검색
    function searchInformation() {
        var searchItems = new Object();

        $('#hospitalInfo > tbody').empty();

        searchItems.year = $("#year option:selected").val();
        searchItems.service = $("#service option:selected").val();
        searchItems.place = $("#place option:selected").val();
        searchItems.contract = $("#contract option:selected").val();

        searchItems.searchWord =  $("#searchWord").val();

        if (searchItems.year == "-전체-") {
            searchItems.year = "all";
        }
        if (searchItems.service == "-전체-") {
            searchItems.service = "all";
        }
        if (searchItems.place == "-전체-") {
            searchItems.place = "all";
        }
        if (searchItems.contract == "-전체-") {
            searchItems.contract = "all";
        }

        console.log(searchItems);

        instance.post('M005002_REQ_RES', searchItems).then(res => {
            setHospitalData(res.data);
        });
    }

    //검색 selector
    function setHospitalSelectData(data) {
        console.log(data);
        //사업연도
        for (i = 0; i < data.year.length; i++) {
            var html = '';
            html += '<option>' + data.year[i] + '</option>'
            $("#year").append(html);
        }
        //서비스
        for (i = 0; i < data.service.length; i++) {
            var html = '';
            html += '<option>' + data.service[i] + '</option>'
            $("#service").append(html);
        }
        //지역
        for (i = 0; i < data.place.length; i++) {
            var html = '';
            html += '<option>' + data.place[i] + '</option>'
            $("#place").append(html);
        }
        //계약유무
        for (i = 0; i < data.contract.length; i++) {
            var html = '';
            html += '<option>' + data.contract[i] + '</option>'
            $("#contract").append(html);
        }
    }

    //병원관리 테이블
    function setHospitalData(data) {
        console.log(data);
        for (i = 0; i < data.length; i++) {
            var html = '';
            html += '<tr>"';
            html += '<td>' + data[i].id + '</td>';
            html += '<td data-toggle="modal" data-target="#hospitalDetailModal" onClick="clickDetail(\'' + data[i].id + '\')">' + data[i].name + '</td>';
            html += '<td>' + data[i].place + '</td>';
            html += '<td>' + data[i].services + '</td>';
            if (data[i].contract) {
                html += '<td>Y</td>';
            } else {
                html += '<td>N</td>';
            }
            if (data[i].license) {
                html += '<td>Y</td>';
            } else {
                html += '<td>N</td>';
            }
            if (data[i].bankbook) {
                html += '<td>Y</td>';
            } else {
                html += '<td>N</td>';
            }
            html += '<td><div class="btn-purple-square" style="padding: 2px 8px; font-size: 13px" ' +
                'data-toggle="modal" data-target="#hospitalEquipmentModal" onClick="setHosId(\'' + data[i].id + '\')">장비현황</div></td>';
            html += '</tr>';

            $("#hospitalInfo").append(html);
        }
    }

    //병원 정보 상세
    var hosId = Object();

    function setHosId(data) {
        hosId.hospitalId = data;
    }

    function clickDetail(data) {
        hosId.hospitalId = data;
        instance.post('M005003_REQ_RES', hosId).then(res => {
            setDetailHospitalData(res.data);
        });
    }

    //클릭시 병원정보
    function setDetailHospitalData(data) {
        console.log(data);

        //info1 병원정보
        document.getElementById('hos-name').innerHTML = data.name;
        document.getElementById('hos-place').innerHTML = data.place;
        document.getElementById('hos-address').innerHTML = data.address;
        document.getElementById('hos-phone').innerHTML = data.phone;
        document.getElementById('hos-licenseNum').innerHTML = data.licenseNum;
        document.getElementById('hos-pcDiscount').innerHTML = data.pcDiscount;
        document.getElementById('hos-pcPrice').innerHTML = data.pcPrice;
        document.getElementById('hos-systemOpen').innerHTML = data.systemOpen;
        document.getElementById('hos-services').innerHTML = data.services;
        document.getElementById('hos-contract').innerHTML = data.contract;

        //info4 담당자정보
        $("#info4 tbody").empty();
        for (i = 0; i < data.hospitalManagerDTOList.length; i++) {
            var html = '';
            html += '<tr>';
            html += '<td>' + data.hospitalManagerDTOList[i].department + '</td>';
            html += '<td>' + data.hospitalManagerDTOList[i].name + '</td>';
            html += '<td>' + data.hospitalManagerDTOList[i].position + '</td>';
            html += '<td>' + data.hospitalManagerDTOList[i].directPhone + '</td>';
            html += '<td>' + data.hospitalManagerDTOList[i].phone + '</td>';
            html += '<td>' + data.hospitalManagerDTOList[i].email + '</td>';
            html += '<td>' + data.hospitalManagerDTOList[i].receiveSMS + '</td>';
            html += '</tr>';
            $("#info4").append(html);
        }

    }

    //담당자 추가
    function setHospitalManagerData() {
        var saveItems = new Object();

        saveItems.hospitalId = hosId.hospitalId;
        saveItems.department = document.getElementById('add-hos-res-department').innerText;
        saveItems.email = document.getElementById('add-hos-res-email').innerText;
        saveItems.password = document.getElementById('add-hos-res-password').innerText;
        saveItems.name = document.getElementById('add-hos-res-name').innerText;
        saveItems.phone = document.getElementById('add-hos-res-phone').innerText;
        saveItems.directPhone = document.getElementById('add-hos-res-directPhone').innerText;
        saveItems.position = document.getElementById('add-hos-res-position').innerText;
        saveItems.receiveSMS = document.getElementById('add-hos-res-receiveSMS').innerText;

        console.log(saveItems);

        if (confirm("저장하시겠습니까?") == true) {
            instance.post('M005004_REQ', saveItems).then(res => {
                console.log(res.data.message);
                if (res.data.message == "success") {
                    alert("저장되었습니다.");
                    clickDetail(saveItems.hospitalId);
                    document.getElementById('add-hos-res-department').innerHTML = "";
                    document.getElementById('add-hos-res-email').innerHTML = "";
                    document.getElementById('add-hos-res-password').innerHTML = "";
                    document.getElementById('add-hos-res-name').innerHTML = "";
                    document.getElementById('add-hos-res-phone').innerHTML = "";
                    document.getElementById('add-hos-res-directPhone').innerHTML = "";
                    document.getElementById('add-hos-res-position').innerHTML = "";
                    document.getElementById('add-hos-res-receiveSMS').innerHTML = "";
                }
            });
        } else {
            return false;
        }
    }

    //장비 불러오기
    function setHospitalEquipment() {
    }

    //장비 추가
    function addHospitalEquipment() {
        var html = '';

        var name = $("#eq-name").val();
        var modelCode = $("#eq-modelCode").val();
        var uses = $("#eq-uses").val();
        var count = $("#eq-count").val();
        var introductionYear = $("#eq-introductionYear").val();
        var memo = $("#eq-memo").val();

        html += '<tr>';
        html += '<td>'+name+'</td>';
        html += '<td>'+modelCode+'</td>';
        html += '<td>'+uses+'</td>';
        html += '<td>'+count+'</td>';
        html += '<td>'+introductionYear+'</td>';
        html += '<td>'+memo+'</td>';
        html += '<td><div class="btn-save-square" style="padding: 0 6px; font-size: 13px; margin-left: 10px" onclick="delHospitalEquipment(this)">삭제</div></td>'
        html += '</tr>';

        $("#hospitalEquipmentInfo > tbody:last").append(html);

        $("#eq-name").val('');
        $("#eq-modelCode").val('');
        $("#eq-uses").val('');
        $("#eq-count").val('');
        $("#eq-introductionYear").val('');
        $("#eq-memo").val('');
    }

    //장비 삭제
    function delHospitalEquipment(data) {
        $(data).parent().parent().remove();
    }

    //장비 저장
    function saveEquipmentInformation() {
        var hospitalEquipmentInfo = document.getElementById('hospitalEquipmentInfo');
        var size = document.getElementById('hospitalEquipmentInfo').rows.length;

        var hosEQList = Array();
        var hosEQListSize =0;

        for(var i=2; i<size; i++){
            var hosEQ = Object();
            hosEQ.hospitalId = hosId.hospitalId;
            hosEQ.name = hospitalEquipmentInfo.rows[i].cells.item(0).innerText;
            hosEQ.modelCode = hospitalEquipmentInfo.rows[i].cells.item(1).innerText;
            hosEQ.uses = hospitalEquipmentInfo.rows[i].cells.item(2).innerText;
            hosEQ.count = hospitalEquipmentInfo.rows[i].cells.item(3).innerText;
            hosEQ.introductionYear = hospitalEquipmentInfo.rows[i].cells.item(4).innerText;
            hosEQ.memo = hospitalEquipmentInfo.rows[i].cells.item(5).innerText;

            hosEQList[hosEQListSize] = hosEQ;
            hosEQListSize += 1;
        }

        console.log(hosEQList);

        instance.post('M005007_REQ', hosEQList).then(res => {
            console.log(res.data);
        });
    }

    //병원 신규 등록
    function createHospitalData() {
        var saveItems = new Object();

        saveItems.name = document.getElementById('add-hos-name').innerText;
        saveItems.address = document.getElementById('add-hos-address').innerText;
        saveItems.phone = document.getElementById('add-hos-phone').innerText;
        saveItems.license_num = document.getElementById('add-hos-licenseNum').innerText;
        saveItems.pcDiscount = document.getElementById('add-hos-pcDiscount').innerText;
        saveItems.pcPrice = document.getElementById('add-hos-pcPrice').innerText;
        saveItems.systemOpen = document.getElementById('add-hos-systemOpen').innerText;
        saveItems.contract = document.getElementById('add-hos-contract').innerText;
        saveItems.license = document.getElementById('add-hos-license').innerText;
        saveItems.bankbook = document.getElementById('add-hos-bankbook').innerText;

        console.log(saveItems);

        if (confirm("저장하시겠습니까?") == true) {
            instance.post('M005006_REQ', saveItems).then(res => {
                console.log(res.data.message);
                alert("저장되었습니다.");
            });
        } else {
            return false;
        }
    }

    //수정된 정보로 저장
    function saveInformation() {
        var saveItems = new Object();

        saveItems.hospitalId = hosId.hospitalId;
        saveItems.name = document.getElementById('hos-name').innerText;
        saveItems.address = document.getElementById('hos-address').innerText;
        saveItems.phone = document.getElementById('hos-phone').innerText;
        saveItems.license_num = document.getElementById('hos-licenseNum').innerText;
        saveItems.pcDiscount = true;//document.getElementById('hos-pcDiscount').innerText;
        saveItems.pcPrice = 20000;//document.getElementById('hos-pcPrice').innerText;
        saveItems.systemOpen = true;//document.getElementById('hos-systemOpen').innerText;
        saveItems.contract = true;//document.getElementById('hos-contract').innerText;
        saveItems.license = "사업자등록증";
        saveItems.bankbook = "통장사본";

        console.log(saveItems);

        if (confirm("저장하시겠습니까?") == true) {
            instance.post('M005005_REQ', saveItems).then(res => {
                console.log(res.data.message);
                alert("저장되었습니다.");
                clickDetail(saveItems.hospitalId);
            });
        } else {
            return false;
        }
    }
</script>
