<!DOCTYPE HTML>
<html>
<head>
    <title>듀얼헬스케어</title>

    <style>
        .table-box {
            min-height: 340px;
        }
    </style>
</head>
<body>

<!--상단 네비바-->
<header>
    <% include title %>
</header>
<!--상단 네비바-->

<!--콘텐츠 내용-->
<div class="container" style="padding-top: 35px; max-width: none">
    <div class="row">
        <div class="col table-box">
            <h5><img src="images/bg_h2_tit.png" style="margin-right: 10px"> 검진현황판</h5>
        </div>
        <div class="col table-box">
            <h5><img src="images/bg_h2_tit.png" style="margin-right: 10px"> 공지사항</h5>
            <a href="#" style="float: right; margin-top: -15px; margin-bottom: 5px">
                <img src="images/link_all_more.png">
            </a>
            <table id="noticeTable" class="table">
                <thead>
                <tr>
                    <th style="width: 10%">NO</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col table-box">
            <h5><img src="images/bg_h2_tit.png" style="margin-right: 10px"> 담당자정보</h5>
            <a href="/company-list" style="float: right; margin-top: -15px; margin-bottom: 5px">
                <img src="images/link_all_more.png">
            </a>
            <table id="companyManagerTable" class="table">
                <thead>
                <tr>
                    <th>기업명</th>
                    <th>사업장</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>이메일</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col table-box">
            <h5><img src="images/bg_h2_tit.png" style="margin-right: 10px">운영일정</h5>
            <a href="/package-list" style="float: right; margin-top: -15px; margin-bottom: 5px">
                <img src="images/link_all_more.png">
            </a>
            <table id="manageScheduleTable" class="table">
                <thead>
                <tr>
                    <th>병원명</th>
                    <th>고객사</th>
                    <th>사업장</th>
                    <th>오픈일</th>
                    <th>마감일</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>


<script>

    //공지사항
    instance.post('M002002_RES').then(res => {
        setNoticeData(res.data);
    });
    //담당자정보
    instance.post('M002003_RES').then(res => {
        setCompanyManagerData(res.data);
    });
    //운영일정
    instance.post('M002004_RES').then(res => {
        setManageScheduleData(res.data);
    });

    //공지사항
    function setNoticeData(data) {
        for (i = 0; i < data.length; i++) {
            var html = '';
            html += '<tr>';
            html += '<td style="width: 10%">' + data[i].id + '</td>';
            html += '<td>' + data[i].title + '</td>';
            html += '<td style="width: 20%">' + data[i].author + '</td>';
            html += '<td style="width: 20%">' + data[i].createDate + '</td>';
            html += '</tr>';

            $("#noticeTable").append(html);
        }
    }

    //담당자정보
    function setCompanyManagerData(data) {
        for (i = 0; i < data.length; i++) {
            var html = '';
            html += '<tr>';
            html += '<td>' + data[i].companyName + '</td>';
            html += '<td>' + data[i].companyBranch + '</td>';
            html += '<td>' + data[i].name + '</td>';
            html += '<td>' + data[i].phone + '</td>';
            html += '<td>' + data[i].email + '</td>';
            html += '</tr>';

            $("#companyManagerTable").append(html);
        }
    }

    //운영일정
    function setManageScheduleData(data) {
        for (i = 0; i < data.length; i++) {
            var html = '';
            html += '<tr>';
            html += '<td>' + data[i].hospitalName + '</td>';
            html += '<td>' + data[i].companyName + '</td>';
            html += '<td>' + data[i].companyBranch + '</td>';
            html += '<td <td style="width: 15%">' + data[i].reservationStartDate + '</td>';
            html += '<td <td style="width: 15%">' + data[i].reservationEndDate + '</td>';
            html += '</tr>';

            $("#manageScheduleTable").append(html);
        }
    }

</script>
